# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Testing
coverage
